.img-content {
    border-radius: 20px;
    width: 520px;
    height: 360px;
}

.description {
    margin-top: 5%;
}

.amenties {
    background-color: rgb(236, 236, 236);
}

.p-amenties {
    font-size: 14px;
}