.navbar {
    background-color: white !important;
    border-bottom: 1px solid rgba(187, 186, 186, 0.3);
}

img.logo {
    width: 60px;
    height: 60px;
}

.profiles {
    padding-top: 5px;
    text-decoration: none;
}

img.profile {
    width: 30px;
    height: 30px;
}

.prof-text {
    padding-top: 3px;
    padding-left: 20px;
}

.item:hover {
    border-bottom: 1px solid rgb(25, 135, 84);
}

.nav-item {
    margin-left: 20px;
}

.navbar-brand {
    margin-left: 80px;
}

.register {
    margin-left: 24px;
}

.navbar-nav {
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
}

.vertical-border {
    margin-left: 24px;
    margin-right: 15px;
    border-right: 1px solid gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p,
label,
button,
a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}