img.profile-display {
    margin-top: 4%;
    margin-left: 10%;
    width: 200px;
    height: 200px;
}

.profile-wrapper {
    width: 200px;
    height: 200px;
}

.nama {
    margin-top: 12%;
    margin-left: 5%;
}

.email-text {
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 10%;
    padding-left: 6%;
}

.edit-btn {
    margin-left: 5%;
    width: 20%;
}

.logout-btn {
    margin-left: 8%;
    width: 25%;
}

h1,
h2,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a,
p {
    font-family: 'Poppins', sans-serif;
}

.harga-tanggal {
    /* background-color: black; */
    padding: 0 !important;
    margin: 0!important;
    height: 17%;
}

.trash {
    padding-right: 5%;
}